section.container-fluid#section7
section.container-fluid#section8
	//- .row
	//- 	.col-sm-1.col-sm-offset-4.col-xs-4.text-center
	//- 		i.fa.fa-github.fa-4x
	//- 	.col-sm-1.col-xs-4.text-center
	//- 		i.fa.fa-google-plus.fa-4x
	//- 	.col-sm-1.col-xs-4.text-center
	//- 		i.fa.fa-twitter.fa-4x
	//- 	.col-sm-1.col-xs-4.text-center
	//- 		i.fa.fa-facebook.fa-4x
	//- 	.col-sm-1.col-xs-4.text-center
	//- 		i.fa.fa-express.fa-4x
footer
	.container.text-right
		p   Gilmar Ezaquél dos Santos ®  2016
