extends ../layout
block content
	section.container.nav-top
		.panel.panel-default
			.panel-heading.text-center
				h3
					span.fa.fa-user-plus  Aulas Práticas  
			.panel-body
				.container
					ul.nav.nav-tabs
						li.active(role="presentation")
							a(href="#main", data-toggle="tab") Home
						li(role="presentation")
							a(href="#menu1", data-toggle="tab") Profile
						li(role="presentation")
							a(href="#menu2", data-toggle="tab") Messages
						li(role="presentation")
							a(href="#menu3" data-toggle="tab") Settings
					.tab-content
						.tab-pane.active.fade.in#main
							h3 HOME
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi magni autem minus eveniet est aspernatur consectetur, blanditiis quos placeat vitae dolorem dicta quis maxime et voluptas cupiditate facere quam cum.
						.tab-pane.fade#menu1
							h3 Profile
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto error similique hic dolorem cumque eius delectus exercitationem dicta ipsa, inventore, voluptatibus fugiat quasi quos. Voluptatem vitae quibusdam blanditiis rerum necessitatibus.
						.tab-pane.fade#menu2
							h3 Messages
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ipsa, officiis expedita et odio qui. Facilis minima, unde sapiente cupiditate pariatur, laboriosam aliquam quaerat, doloremque aut in consectetur amet non.
						.tab-pane.fade#menu3
							h3 Settings
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cum dicta adipisci consectetur aspernatur, eius necessitatibus voluptatem qui vero soluta magnam harum quod nemo pariatur impedit a vel itaque. Asperiores.