<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="generator", content="Codeply")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css")
    link(rel='stylesheet', href="/stylesheet/jquery-confirm.css")
    link(rel='stylesheet', href='/stylesheet/styles.css')
    title GAE System
body
    include ./partials/menu.jade
    include ./partials/footer.jade
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js")
    script(src="/javascripts/mascaras.js")
    script(src="/javascripts/modal.js")
    script(src="/javascripts/jquery-confirm.js")    
    script(src="/javascripts/scripts.js")
    block scripts
