<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="generator", content="Codeply")
    link(rel="stylesheet", href="/stylesheet/jquery.datetimepicker.css")
    link(rel="stylesheet", href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css")
    link(rel='stylesheet', href="/stylesheet/jquery-confirm.css")
    link(rel='stylesheet', href='/stylesheet/styles.css')
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel="stylesheet", href="/stylesheet/default.css")
    link(rel="stylesheet", href="/stylesheet/default.date.css")
    link(rel="stylesheet", href="/stylesheet/default.time.css")
    link(rel="stylesheet", href="/stylesheet/rtl.css")
    title GAE System
body
    include ./partials/menu.jade
    include ./partials/footer.jade
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js")
    script(src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js")
    script(src="/javascripts/mascaras.js")
    script(src="/javascripts/scroll.js")
    script(src="/javascripts/jquery-confirm.js")  
    script(src="/javascripts/tabs.js") 
    script(src="/javascripts/scripts.js")
    script(src="/javascripts/cidades-estados-1.2-utf8.js")
    script(src="/javascripts/tabs.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous")
    script(src="/javascripts/dateP.js")
    script(src="/javascripts/aulaPratica.js")
    script(src="/javascripts/jquery.datetimepicker.full.js")
    script(src="/javascripts/legacy.js")
    script(src="/javascripts/picker.js")
    script(src="/javascripts/picker.date.js")
    script(src="/javascripts/pt_BR.js")

    block scripts
