extends ../layout
block content
	section.container-fluid#section1
		.v-center
			h1.text-center GAE System
			h2.text-center.lato.animate.slideInDown Um sistema <b>moderno</b> e exclusivo
			p.text-center<br>
			form(method="get", action="/login")
				p.text-center<br>
					button(type="submit").btn.btn-danger.btn-lg.btn-huge.lato#loginModal Acesse o sistema
		a(href="#section2")
			.scroll-down.bounceInDown.animated
				span
					i.fa.fa-angle-down.fa-2x
	section.container-fluid#section2
		.container.v-center
			.row
				.col-sm-4
					.row
						.col-sm-12.text-justify
							.panel.panel-default.slideInLeft.animate
								.panel-heading#painel
									h3.text-center Robusto
								.panel-body
									p  O mercado está cada vez mais exigente com seus produtos. Com os softwares não é diferente. Por isso este projeto foi idealizado para proporcionar o melhor desempenho do usuário, respeitando ao máximo os padrões de <b>usabilidade</b> e <b>performance</b> em suas aplicações.
									hr
				.col-sm-4.text-center
					.row
						.col-sm-12.text-justify
							.panel.panel-default.slideInUp.animate
								.panel-heading#painel
									h3.text-center Simples
								.panel-body
									p  
									<b> Menos é mais.</b> Neste aspecto, um toque de simplicidade torna a experiência mais leve e acessível, maximizando a experiência do usuário com acesso rápido e prático, aumentando a observância das funcionalidades, sem quebra-cabeças.
									hr
				.col-sm-4.text-center
					.row
						.col-sm-12.text-justify
							.panel.panel-default.slideInUp.animate
								.panel-heading#painel
									h3.text-center Moderno
								.panel-body
									p Tecnologias inovadoras merecem ser testadas. Assim sendo, o desafio foi lançado sem poupar esforços para que o objetivo final fosse alcançado. A <b>satisfação</b> é maior quando o resultado supera as expectativas. Este humilde projeto é a prova.  
									hr
	section.container-fluid#section4
		.row
			.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
				h2.text-center.lato Principais Tecnologias
				hr
				.media
					h3 Node js
					.media-left
						a(target="_blank",href="https://nodejs.org/en/foundation/case-studies/")
							img(src="img/nodejs.png", alt="node js")
					.media-body.media-middle
						p Com mais de 3,5 milhões de usuários e uma taxa de crescimento anual de 100%, o Node.js está emergindo como uma plataforma universal usada para aplicações web, IoT (Internet of things) e empresas.
				.media
					h3 MongoDB
					.media-body.media-middle
						p Oferece desempenho incrível em escala maciça: milhões de ops / seg, 100s de bilhões de documentos, petabytes de dados. Utiliza a linguagem Javascript® e oferece escalabilidade e velocidade.
					.media-right
						a(target="_blank",href="https://www.mongodb.com/")
							img(src="img/mongoDB.png", alt="")
				.media
					h3 Express js
					.media-left
						a(target="_blank",href="http://expressjs.com/")
							img(src="img/expressjs.png", alt="")
					.media-body.media-middle
						p O Express fornece uma camada fina de recursos fundamentais para aplicativos da web, sem obscurecer os recursos do Node.js.
				.media
					h3 jQuery
					.media-body.media-middle
						p Com uma combinação de versatilidade e extensibilidade, jQuery mudou a maneira que milhões de pessoas escrevem JavaScript.
					.media-right
						a(target="_blank",href="https://jquery.com/")
							img(src="img/jquery.png", alt="")
				.media
					h3 Bootstrap
					.media-left
						a(target="_blank",href="http://getbootstrap.com/")
							img(src="img/bootstrap.png", alt="")
					.media-body.media-middle
						p O Bootstrap torna o desenvolvimento web front-end mais rápido e fácil. É feito para pessoas de todos os níveis de habilidade, dispositivos de todas as formas e projetos de todos os tamanhos.

	.modal.fade#myModal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel", aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(data-dismiss="modal", aria-hidden="true") x
					h2.text-center
						i.fa.fa-road  Login
				.modal-body.row
					h6.text-center PREENCHA O FORMULÁRIO ABAIXO
					form.col-md-10.col-md-offset-1.col-xs-12.col-xs-offset-0(action="/autenticar", method="post")
						if messages.erro
							br
							.alert.alert-danger#success-alert
								each msg in messages.erro
									b= msg
									br
						.form-group
							input.form-control.input-lg(type="text", name="email", placeholder="Email", required)
						.form-group
							input.form-control.input-lg(type="password",name="senha", placeholder="Senha", required)
						.form-group
							button.btn.btn-danger.btn.btn-lg.btn-block(type="submit") Entrar
						hr
						p
							a(href="/")
								i.fa.fa-arrow-left   Voltar
	//- footer
	//- 	.container.text-right
	//- 		.row
	//- 			p   Gilmar Ezaquél dos Santos 2016
