extends ../layout
block content
	section.container.nav-top
			.col-sm-6.col-sm-offset-3
				.panel.panel-default#borda
					.panel-heading.text-center
						h2
							span.fa.fa-road  Login
					.panel-body
						form.col-md-10.col-md-offset-1.col-xs-12.col-xs-offset-0(action="/autenticar", method="post")
							if messages.erro
								br
								.alert.alert-danger#success-alert
									each msg in messages.erro
										b= msg
										br
							.form-group
								label Email
								input.form-control.input-lg(type="text", name="email", required)
							.form-group
								label Senha
								input.form-control.input-lg(type="password", name="senha",required)
							button.btn.btn-danger.btn-lg.btn-block#botao(type="submit") Login
							hr
							p
								a(href="/")
									i.fa.fa-arrow-left  Voltar

