.modal.fade#myModal(tabindex="-1",role="dialog",aria-labelledby="myModalLabel", aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(data-dismiss="modal", aria-hidden="true") x
					h2.text-center
						i.fa.fa-road  Login
				.modal-body.row
					h6.text-center PREENCHA O FORMULÁRIO ABAIXO
					form.col-md-10.col-md-offset-1.col-xs-12.col-xs-offset-0
						.form-group
							input.form-control.input-lg(type="text", placeholder="Email")
						.form-group
							input.form-control.input-lg(type="password", placeholder="Senha")
						.form-group
							button.btn.btn-danger.btn.btn-lg.btn-block Entrar