extends ../layout
block content
	section.container.nav-top
				.panel.panel-default
					.panel-heading.text-center
						h3
							span.fa.fa-car  
							&nbsp;
							span.fa.fa-motorcycle
							&nbsp; Veículos
						
					.panel-body
						form.col-md-10.col-md-offset-1.col-xs-12.col-xs-offset-0